body{
 
  margin: 0px;
}
#game-canvas{
  display: block;
  margin: auto;
}



#hud {
  position: absolute;
  top: 0;
  left: 0;
  padding: 8px 12px;
  color: #ac1000;
  background: #efefef;
}
#hud.invisible {
  position: absolute;
  top:-320px;
  left: 0;
  padding: 8px 12px;
  color: #ac1000;
  background: #efefef;
}

#gameover-win {
  position: absolute;
  top: -320px;
  left: 0;
  background: white;
  text-align: center;
  padding-top: 50px;
  font-size: 2em;
}

#gameover-win.gameover-appear {
  top: 30%;
  left:30%;
  background:white;
  width:inherit;
  height:inherit;
  -webkit-transition: top .3s ease-out;
  -moz-transition: top .3s ease-out;
  transition: top .3s ease-out;
}
